<template>
  <v-layout row wrap mt-5 text-xs-center justify-center>
    <v-flex xs10 class="cuerpo">
      <p :style="{ zoom: `${slider/20}` }" >
      Mi nombre es sebastian incarbone, Soy estudiante de la Universidad Nacional de Quilmes. 
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, nobis. Illum adipisci, 
      quam voluptatibus aspernatur perspiciatis tenetur necessitatibus optio beatae accusamus, laudantium iste 
      sequi excepturi nulla, natus ratione debitis? Inventore.
      </p>
    </v-flex>
    <v-flex xs10>
        <v-subheader class="pl-0">Custom font size 
            <v-btn
              dark
              fab
              small
              :color="colors[(slider/10)-2]" @click.native="slider = slider - 10">
              <v-icon>zoom_out</v-icon>
            </v-btn>
           <v-btn
              dark
              fab
              small
              :color="colors[(slider/10)]" @click.native="slider = slider + 10">
              <v-icon>zoom_in</v-icon>
            </v-btn>
        </v-subheader>
        <v-slider
          v-model="slider"
          :color= colors[(slider/10)-1]
          thumb-label
          step="10"
          ticks="always"
          tick-size="3"
        ></v-slider>
      </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from "vuex";

export default {
  data(){
    return{
      slider:20,
      colors: [
          'indigo',
          'green',          
          'blue',
          'light-blue',
          'cyan',
          'teal',
          'purple',
          'deep-purple',
          'pink',
          'red'
        ]
    }
  },
  computed: mapState ({
    custom: 'titulo'
  })
}
</script>


<style scoped>
.cuerpo{
  padding: 2.3%;
  background:  rgba(248, 98, 11, 0);
  color: rgb(10, 9, 15);
  font-family: Roboto;
  font-size: 1.3em;
}
</style>
