<template>
    <v-layout row wrap justify-center>    
      <v-flex v-for="card in cards" v-bind:key="card.id" mt-3 xs12 sm9 md10 >
        <Card 
              :id= card._id
              :titulo= card.titulo
              :temas= card.temas
              :descripcion= card.descripcion
              :cuerpo= card.cuerpo
              v-show="validarTemas(card.temas)"
              />
      </v-flex>
    </v-layout>    
</template>

<script>
import Card from '../components/card.vue'
import axios from 'axios'
import { mapState } from 'vuex'
export default {
  name: 'home',
  components: {
    Card
  },
  data(){
    return{
      cards:[]
    }
  },
  watch: {
      
  },
  methods:{
    validarTemas(temasAValidar) {

      var texTemas= []

      for (var tema in temasAValidar){
        texTemas.push(temasAValidar[tema].text)
      }
      
      return texTemas.includes(this.temaABuscar) || this.temaABuscar === 'all'
    }
  },
  mounted(){
    axios.get('http://localhost:3030/posts').then( response => ( this.cards = response.data.data ));
  },
  computed: mapState ([
      'temaABuscar'
    ])
}
</script>

<style scoped>

</style>
