<template>
    <v-layout row wrap>
        <v-flex xs12 offset-md1  v-show="!esValido">
            <v-flex xs10 offset-xs1 pa-5 mt-5  :class="bgColor" class="darken-1 elevation-10">
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-text-field v-model="name" :rules="nameRules" :counter="10" label="Name" required></v-text-field>
                    <v-text-field v-model="pass" :rules="passRules" label="Pass" :append-icon="value ? 'visibility' : 'visibility_off'" :append-icon-cb="() => (value = !value)" :type="value ? 'password' : 'text'" error required ></v-text-field>
                    <v-layout row justify-center align-end>
                        <v-btn :disabled="!valid" @click="submit" > Submit </v-btn>
                        <v-btn @click="clear" to='/' >Back</v-btn>    
                    </v-layout>
                </v-form>
            </v-flex>
        </v-flex>

        <v-flex xs12 md10 offset-md1>
            <v-btn v-show="esValido" class="black pink--text" @click="newPost = !newPost">
                <v-icon>{{ !newPost ? 'add' : 'arrow_back' }}</v-icon>
            </v-btn>
        </v-flex>

        <v-flex xs12 md10 offset-md1>
            <ManagePost v-show="!newPost & esValido" flag="!newPost & esValido"/>        
        </v-flex>

        <v-flex xs12 md10 offset-md1>
            <AddPost v-show="newPost  & esValido"/>        
        </v-flex>

    </v-layout>
</template>

<script>
import AddPost from '../components/addPost.vue'
import ManagePost from '../components/managePost.vue'
import { mapState } from 'vuex'

export default {
    components:{
        AddPost,
        ManagePost
    },
    data(){
        return{
            newPost: false,
            name: '',
            esValido: false,
            pass: '',
            value: true,
            passRules: [
                v => !!v || 'pass is required',
                v => v === "sebaink" || 'pass incorrect'
            ],
            nameRules: [
                v => !!v || 'name is required',
                v => v === 'sebaink' || 'i dont know this name, sorry!'
            ]
        }
    },
    computed:mapState ([
      'bgColor'
    ]),
    methods: {
      submit () {
        if (this.$refs.form.validate()) {
            this.esValido = !this.esValido
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
}
</script>

<style>

</style>
