<template>
    <v-container grid-list-xs>
        <v-layout row wrap justify-center>
            <v-flex xs12 pa-3 text-xs-center>
                <h1>{{ post.titulo }}</h1>
                <br>          
            </v-flex>
            <v-flex xs12 pa-3 text-xs-left>
                <div v-html="this.post.cuerpo"></div>
                <br>          
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import axios from 'axios'

export default {
    param:{
        id:String
    },
    data() {
        return{
            post: null,
            cuerpo: null
        }
    },
    mounted() {
        var url = 'http://localhost:3030/posts/'+this.$route.params.id
   
        axios.get(url).then( response => ( this.post = response.data ))            
    }
}
</script>

<style>
</style>
