<h2 ml-2>subtitulo</h2>
<img src="https://cdn.elgrupoinformatico.com/Noticias/2017/12/jaja-inocentes-550x312.jpg" alt="imagenDePrueba">
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum facere quam et dolor dignissimos rerum, magnam voluptate nisi reiciendis tenetur fugit ipsum voluptates facilis sint quo, neque qui. Tenetur, totam?
</p>