<template>
  <v-card dark>
      <v-layout wrap>
        <v-flex xs12>
          <v-progress-linear :active="isUpdating" class="ma-0" color="green lighten-3" height="4" indeterminate></v-progress-linear>
        </v-flex>

        <v-layout align-left column justify-center pa-3>
          <h3 class="headline">Add new Post</h3>
        </v-layout>
      </v-layout>
    
    <v-form>
      <v-container>
        <v-layout wrap>

          <v-flex xs12 md6>
            <v-text-field v-model="name" box color="blue-grey lighten-2" label="Name" ></v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-text-field v-model="descripcion" box color="blue-grey lighten-2" label="descripcion" ></v-text-field>
          </v-flex>
          
          <v-flex xs12>
            <v-app id="inspire">
              <v-combobox
                v-model="model"
                :filter="filter"
                :hide-no-data="!search"
                :items="items"
                :search-input.sync="search"
                hide-selected
                label="Search for an option"
                multiple
                small-chips
                solo
              >
                <template slot="no-data">
                  <v-list-tile>
                    <span class="subheading">Create</span>
                    <v-chip
                      :color="`${colors[nonce - 1]} lighten-3`"
                      label
                      small
                    >
                      {{ search }}
                    </v-chip>
                  </v-list-tile>
                </template>
                <template
                  v-if="item === Object(item)"
                  slot="selection"
                  slot-scope="{ item, parent, selected }"
                >
                  <v-chip
                    :color="`${item.color} lighten-3`"
                    :selected="selected"
                    label
                    small
                  >
                    <span class="pr-2">
                      {{ item.text }}
                    </span>
                    <v-icon
                      small
                      @click="parent.selectItem(item)"
                    >close</v-icon>
                  </v-chip>
                </template>
                <template
                  slot="item"
                  slot-scope="{ index, item, parent }"
                >
                  <v-list-tile-content>
                    <v-text-field
                      v-if="editing === item"
                      v-model="editing.text"
                      autofocus
                      flat
                      background-color="transparent"
                      hide-details
                      solo
                      @keyup.enter="edit(index, item)"
                    ></v-text-field>
                    <v-chip
                      v-else
                      :color="`${item.color} lighten-3`"
                      dark
                      label
                      small
                    >
                      {{ item.text }}
                    </v-chip>
                  </v-list-tile-content>
                  <v-spacer></v-spacer>
                  <v-list-tile-action @click.stop>
                    <v-btn
                      icon
                      @click.stop.prevent="edit(index, item)"
                    >
                      <v-icon>{{ editing !== item ? 'edit' : 'check' }}</v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </template>
              </v-combobox>
            </v-app>
          </v-flex>
          
          <v-flex xs12>
            
            <v-textarea
              v-model="cuerpo"
              name="input-7-1"
              box
              color="blue-grey lighten-2"
              label="descripcion"
              auto-grow
              ></v-textarea>
          </v-flex>
          
        </v-layout>
      </v-container>
    </v-form>
    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn  color="blue-grey darken-3"  :loading="isUpdating" depressed  @click="addPost">  
        <v-icon left>mdi-update</v-icon>
        Push
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import axios from "axios";

export default {
    data () {
      return {
          isUpdating: false,
          name: '',
          descripcion: '',
          cuerpo:'',
        /* ----------------------------------------------------------------- */
          activator: null,
          attach: null,
          colors: ['green', 'purple', 'indigo', 'cyan', 'teal', 'orange'],
          editing: null,
          index: -1,
          items: [
            { header: 'Select an option or create one' }
          ],
          nonce: 1,
          menu: false,
          model: [],
          x: 0,
          search: null,
          y: 0
        }
    },
    watch: {
      isUpdating (val) {
        if (val) {
          setTimeout(() => (this.isUpdating = false), 3000)
        }
      },
      model (val, prev) {
        if (val.length === prev.length) return

        this.model = val.map(v => {
          if (typeof v === 'string') {
            v = {
              text: v,
              color: this.colors[this.nonce - 1]
            }

            this.items.push(v)

            this.nonce++
          }

          return v
        })
      }
    },
    methods: {
      update(lista){
        for(var keyPost in lista) {
          for(var keyTema in lista[keyPost].temas) {
            this.items.push(lista[keyPost].temas[keyTema]);
          }
        }
      },
      edit (index, item) {
        if (!this.editing) {
          this.editing = item
          this.index = index
        } else {
          this.editing = null
          this.index = -1
        }
      },
      filter (item, queryText, itemText) {
        if (item.header) return false

        const hasValue = val => val != null ? val : ''

        const text = hasValue(itemText)
        const query = hasValue(queryText)

        return text.toString()
          .toLowerCase()
          .indexOf(query.toString().toLowerCase()) > -1
      },
      addPost() {
          this.isUpdating = true;
          
          axios.post('http://localhost:3030/posts',{
                "titulo": this.name,
                "temas": this.model,
                "descripcion": this.descripcion,
                "cuerpo": this.cuerpo
            }
          );
          
          this.name= ''
          this.descripcion= ''
          this.cuerpo= ''
          this.model = null
      }
    },
    mounted(){
      axios.get('http://localhost:3030/posts').then( response => ( this.update(response.data.data) )); 
    }
  }
</script>

<style scoped>
#inspire{
  height: 48px;
}
</style>
