<template>
  <v-card>
    <router-link class="link" :to="{ path: '/post/'+ id, params: { title: 'funciona el post' }}">
      <v-container fill-height fluid :class="bgColor" class="lighten-5">
        
        <v-layout fill-height row wrap >
          <v-flex xs12>
            <h1 class="headline text-xs-center">{{titulo}}</h1>

            <p class="mt-3 text-xs-left">{{descripcion}}</p>
            
          </v-flex>

          <v-flex class="text-xs-center" v-for="tema in temas" :key="tema.id">
            <v-chip :color="`${tema.color} lighten-3`">{{tema.text}}</v-chip>
          </v-flex>                  
        </v-layout>

      </v-container>
    </router-link>
  </v-card>
</template>

<script>
import { mapState } from "vuex";

export default {
    props:{
        id: String,
        titulo: String,
        temas: [],
        descripcion: String,
        cuerpo: String
    },
    computed: mapState ([
      'bgColor'
    ])
}
</script>

<style scoped> 
.link{
  outline-style: none;
  text-decoration: none;
  color: black;
  font-family: Roboto;
}
h1{
  font-family: Roboto;
  font-size: 1.5em;
}
p{
  font-family: Roboto;
  font-size: 1.3em;
}
</style>
