<template>
<div>
  <v-btn small color="black" @click.native="editarPost = !editarPost" v-show="editarPost">
    <v-icon medium color="green">arrow_back</v-icon>
  </v-btn>
  <v-btn small color="black" @click.native="save()" v-show="editarPost">
    <v-icon medium color="green">save</v-icon>
  </v-btn>
  <v-data-table v-show="!editarPost" :headers="headers" :items="cards" :pagination.sync="pagination" select-all item-key="name" class="elevation-1">
    <template slot="headers" slot-scope="props">
      <tr>
        <th
          v-for="header in props.headers"
          :key="header.text"
          :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
          @click="changeSort(header.value)"
        >
          <v-icon small>arrow_upward</v-icon>
          {{ header.text }}
        </th>
      </tr>
    </template>
    <template slot="items" slot-scope="props">
      <tr>        
        <td class="text-xs-right">{{ props.item._id }}</td>
        <td class="text-xs-right">

          <p v-for="textTema in props.item.temas" :key="textTema.id">
            {{textTema.text}} - {{textTema.color}}
          </p>

        </td>
        <td class="text-xs-right">{{ props.item.titulo }}</td>
        <td class="text-xs-right">
          <v-btn small  fab color="white" @click.native="deletePost(props.item)">
            <v-icon medium color="red">delete_forever</v-icon>
          </v-btn>
          <v-btn small fab  color="white" @click.native="editPost(props.item)">
            <v-icon medium color="green">create</v-icon>
          </v-btn>
        </td> 
      </tr>
    </template>      
  </v-data-table>
  <editPost v-show="editarPost"/>
</div>
</template>

<script>
import axios from 'axios'
import editPost from './editPost.vue'
import { mapState, mapMutations } from 'vuex'

export default {
  components:{
    editPost
  },
    data: () => ({
      pagination: {
        sortBy: 'name'
      },
      headers: [
        { text: 'id', value: 'id' },
        { text: 'temas', value: 'temas' },
        { text: 'titulo', value: 'titulo' }
      ],
      cards:[],
      editarPost: false
    }),
    props: {
      flag:Boolean
    },
    watch: {
      flag (val) {
        if (val) {
          setTimeout(() => (
            this.update()
          ), 60)
        }
      }
    },
    methods: {
      changeSort (column) {
        if (this.pagination.sortBy === column) {
          this.pagination.descending = !this.pagination.descending
        } else {
          this.pagination.sortBy = column
          this.pagination.descending = false
        }
      },
      deletePost(item){
          axios.delete('http://localhost:3030/posts/'+item._id).then( this.update() )
      },
      ...mapMutations([
        'EDITARPOST'
      ]),
      editPost(item){
          this.editarPost = !this.editarPost
          this.EDITARPOST(item)
      },
      save(){

          this.editarPost = !this.editarPost

          axios.put('http://localhost:3030/posts/' + this.post._id,{
                "titulo": this.post.titulo,
                "temas": this.post.temas,
                "descripcion": this.post.descripcion,
                "cuerpo": this.post.cuerpo
            }
          )
          
      },
      update(){
          this.flag = false;
          setTimeout(() =>
          axios.get('http://localhost:3030/posts').then( response => (this.cards = response.data.data)), 25)
      }
    },
    mounted(){
      this.update()
    },
    computed :mapState ([
       'post'
    ])
}
</script>

/*

    methods:{
       
    }
*/