<template>
  <div id="app">      
      <!-- boton fixed que regresa a la parte superior de la pantalla -->
      <v-btn id="btn-back" fab fixed :color="colors[color]" class="darken-3" @click="target()" >
        <v-icon>arrow_drop_up</v-icon>
      </v-btn>
      <v-layout grid-list-xs row wrap justify-space-around fill-height>
      <!-- navBar que se ubica a un costado al no ser un Celular y se ubica arriva al ser uno -->
      <v-flex xs12 sm5 md3 :class="{'navxs': $vuetify.breakpoint.smAndDown, 'navmd': $vuetify.breakpoint.smAndUp}">
        <v-card
          :class="{'navxs': $vuetify.breakpoint.smAndDown, 'navmd': $vuetify.breakpoint.smAndUp}"
          :color="colors[color]"
          :ripple="false"
          @click.native="eventColorChange()">
          <v-card-title primary-title>
            <!-- avatar  -->
            <v-avatar>
              <img src="https://cdn.vuetifyjs.com/images/john.jpg">
            </v-avatar>
            <!-- nombre con redireccion al index  -->            
            <v-btn flat dark round to="/">Sebastian Incarbone</v-btn>

            <v-spacer></v-spacer>
            
            <v-layout row align-baseline>
              <v-flex xs4>
                <v-btn flat dark round to="/">Home</v-btn>              
              </v-flex>
              <v-flex xs4>
                <v-btn flat dark round small to="/about">About</v-btn>
              </v-flex>
              <v-flex xs4>
                <v-btn flat dark round small to="/singin">Singin</v-btn>  
              </v-flex>
            </v-layout>    

            <v-flex xs12 mt-3>
          
              <v-form
              @submit.native="buscar()"
              @dblclick="temasAMostrar = ''">
                
              <v-text-field
                label="Busqueda por temas"
                v-model="temasAMostrar"
                single-line
              ></v-text-field>
              </v-form>
       
                <!--
                    <v-combobox
                    v-model="value"
                    :items="items"
                    label="temas: "
                    multiple
                    chips>
                  <template slot="selection" slot-scope="data" >
                    <v-chip
                      :selected="data.selected"
                      :disabled="data.disabled"
                      :key="JSON.stringify(data.item)"
                      class="v-chip--select-multi elevation-5"
                      @input="data.parent.selectItem(data.item)"
                      color="blue" text-color="white"
                      >
                      
                      <v-avatar
                        class="blue darken-4"
                        v-text="data.item.slice(0, 1).toUpperCase()"></v-avatar>
                      
                      {{ data.item }}
                    </v-chip>
                  </template>
                </v-combobox>
                 -->
            </v-flex>
          </v-card-title>
        </v-card>
      </v-flex>

      <v-flex xs12 sm7 md9 offset-sm5 offset-md3>
        <router-view /> 
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import axios from "axios";
export default {
    data () {
      return {
        color: 0,
        colors: [
          'red',
          'pink',
          'purple',
          'deep-purple',
          'indigo',
          'blue',
          'light-blue',
          'cyan',
          'teal',
          'green',
          'light-green',
          'lime',
          'yellow',
          'amber',
          'orange',
          'deep-orange',
          'brown',
          'blue-grey',
          'grey'
        ],
        //items: ['All'],
        //value: ['All'],
        cards:[],
        temasAMostrar: 'all'
      }
    },
    methods:{
      target () {
        document.documentElement.scrollTop = 0
      },
      update(lista){
        //console.log('lista de temas de todos los post')
        for(var keyPost in lista) {
          for(var keyTema in lista[keyPost].temas) {
            //console.log(lista[keyPost].temas[keyTema].text);
            this.items.push(lista[keyPost].temas[keyTema].text);
          }
        }
      },
      ...mapMutations([
        'BUSCAR','UPDATE'
      ]),
      eventColorChange: function(){
        this.color = (this.color + 1) % this.colors.length
        this.UPDATE(this.colors[this.color])
      },
      buscar: function(){
        if(this.temasAMostrar === ''){
          this.temasAMostrar = 'all'
        }
        this.BUSCAR(this.temasAMostrar)
      }
  },
  mounted(){
    axios.get('http://localhost:3030/posts').then( response => ( this.update(response.data.data) )); 
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
#btn-back{
  right: 2%;
  bottom: 2%;
}
.navxs{
  height: 100%;
}
.navmd{ 
  position:fixed;  
  top: 0px;                      
  left: 0px;   
  height: 100vh;
}
</style>
